.TableContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}
.TableContainer table {
    max-width: 1000px;
}
.ButtonCell {
    width: 30px;
}
.DropdownButton {
    margin: 10px;
}
