* {
    font-size: 18px;
}
.TableContainer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.TableContainer table {
    max-width: 1000px;
}
.Dropdown {
    margin: 5px 0 0 10px;
}
th,
td,
table {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    margin: 0 10px;
}
td {
    width: 30%;
}
.ButtonCell {
    width: 45px;
}
.CellText {
    margin: 5px;
}
p {
    text-align: center;
}
select {
    margin: 5px 0;
}
.AddPerson {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.AddPersonInput {
    margin: 0 0 0 15px;
    line-height: 40px;
}
.AddPersonInput input {
    width: 120px;
    margin: 0 5px;
}
input#age {
    width: 50px;
    margin: 0 15px 0 5px;
}
.EditInput {
    box-sizing: border-box;
    width: 90%;
    margin-left: 6px;
    font-size: 16px;
}
/* Buttons */
button,
input[type="submit"] {
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    width: 80px;
}
.Green {
    background-color: rgb(25, 167, 25);
}
.Green:hover {
    background-color: rgb(14, 145, 14);
}
.Red {
    background-color: rgb(230, 24, 9);
}
.Red:hover {
    background-color: rgb(180, 16, 16);
}
.Blue {
    background-color: rgb(19, 76, 231);
}
.Blue:hover {
    background-color: rgb(20, 64, 187);
}
.Gray {
    background-color: gray;
    border: 2px solid rgb(151, 151, 151);
}
